body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
}

#container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    border: 1px solid black;
}

#container div {
    height: 50px;
    width: 50px;
}